*.aux 
*.bbl 
*.blg 
*.glg 
*.glo 
*.gls 
*.ilg 
*.ist 
*.lof 
*.log 
*.lot 
*.nlo 
*.nls 
*.out 
*.toc 
*.fls
*.fdb_latexmk
*.synctex*
*.acn
*.glsdefs
*.acr
*.alg
*.nlo
*.nmc
*.nml

*.pdf

*.DS_Store